
body, html {
  /* background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); */
  /* background-repeat: no-repeat; */
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ~~~~~ GRID COMPONENTS ~~~~~ */

.grid-layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 1.6fr;
  grid-template-rows: 0.04fr 1.59fr .50fr 1.87fr;
  grid-template-areas:
    "logo logo logo greeting"
    "activity hydration sleep data-view"
    "activity hydration sleep graphs"
    "user-data goals community graphs";
}

.logo {
  /* border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em; */
  grid-area: logo;
  padding: 5px;
  background-color: #25C1E3;
}

.greeting {
  /* border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em; */
  grid-area: greeting;
  font-size: 18px;
  background-color: #25C1E3;
}

.activity {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: activity;
}

.hydration {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: hydration;
}

/* .sleep {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: sleep;
} */

.sleep {
  padding: 1em;
  background-color: white;
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border: 3px solid #333333;
}

.intro-text {
  font-size: 1.5em;
  color: #0c0101;
  margin-bottom: 1em;
}

.section-title {
  color: #53d21c;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.info-title {
  color: #090000;
  font-size: 1.0em;
  margin-bottom: 0.2em;
}

.info-text {
  color: #999;
  font-size: 1.2em;
}


.graphs {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: graphs;
}

.user-data {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: user-data;
}

.goals {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: goals;
}

.community {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: community;
}

.data-view {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: data-view;
}

.button:disabled {
  background-color: #EAEAF4;
  cursor: default;
}

.hidden {
  display: none!important;
}

/* ~~~~~ MEDIA QUERIES ~~~~~ */