/* STYLES */
/* HOME SECTION */
/* CATEGORIES SECTION */
/* RECIPES SECTION */
/* USER SECTION */
/* MODIFIERS */
/* like hidden */

body,
html {
  /* background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); */
  /* background-repeat: no-repeat; */
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ~~~~~ GRID COMPONENTS ~~~~~ */

.grid-layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 1.6fr;
  grid-template-rows: 0.04fr 1.59fr .50fr 1.87fr;
  grid-template-areas:
    "logo logo logo greeting"
    "activity hydration sleep data-view"
    "activity hydration sleep graphs"
    "user-data goals community graphs";
}

.logo {
  /* border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em; */
  grid-area: logo;
  padding: 5px;
  background-color: #25C1E3;
}

.greeting {
  /* border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em; */
  grid-area: greeting;
  font-size: 18px;
  background-color: #25C1E3;
}

.activity {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: activity;
}

.hydration {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: hydration;
}

.widgetTitles {
  font-size: 24px;
  margin-bottom: 10px;
}

.widgetData {
  font-size: 18px;
  margin-bottom: 5px;
}

.widgetTitles {
  font-size: 24px;
  margin-bottom: 10px;
}

.widgetData {
  font-size: 18px;
  margin-bottom: 5px;
}

.sleep {
  border: 3px solid #333333;
  padding: .25em;
  grid-area: sleep;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #57caf7e9;
}

.graphs {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: graphs;
}

.graphs canvas {
  width: 100% !important;
  height: auto !important;
};

.user-data {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: user-data;
}

.goals {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: goals;
}

.community {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: community;
}

.data-view {
  border: 3px solid #333333;
  border-radius: 3px;
  padding: .25em;
  grid-area: data-view;
}

