/* STYLES */
/* HOME SECTION */
/* CATEGORIES SECTION */
/* RECIPES SECTION */
/* USER SECTION */
/* MODIFIERS */ /* like hidden */

body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
}